*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Architects Daughter', cursive;
}

.showcase{
    height: 100vh;
    background: url('../images/showcase1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overlay{
    background: #000000;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.86;
}

.intro{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 400px;
}

.intro img{
    width: 200px;
}

.intro h1{
    color: #ffc600;
    font-size: 50px;
}

.honours{
    padding: 1em;
    display: flex;
    justify-content: space-around;
    background: #262626;
    color: #ffc600;
    text-align: center;
}

.honours .box{
    padding: 1em;
}

.honours h3{
    font-size: 24px;
    margin: 0;
}

.honours i{
    font-size: 60px;
    padding: 20px 0;
}

.details-btn{
    border: 0;
    outline: 0;
    background: transparent;
    color: #ffc600;
    display: block;
    margin: auto;
    cursor: pointer;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

.details-btn::after{
    content: "\f107";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding: 0 10px;
}

.details-btn.active::after{
    content: "\f106";
}

.details{
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
}