*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Advent Pro', sans-serif;
    line-height: 1.4;
}

.showcase{
    height: 100vh;
    background: url('../images/showcase1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    background: #000000;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0.86;
}

.intro{
    z-index: 2;
    text-align: center;
    width: 400px;
}

.intro img{
    width: 200px;
}

.intro h1{
    color: #ffc600;
    font-size: 50px;
}

.about{
    display: flex;
    text-align: center;
}

.about .left-box, .about .right-box{
    flex-basis: 50%;
    flex-grow: 0;
    position: relative;
}

.about .left-box{
    background-color: rgba(0, 0, 0, 0.83);
    align-items: center;
    display: flex;
    justify-content: center;
}

.about .right-box{
    background: #eeeeee;
    color: #262626;
    padding: 2em;
    font-size: 18px;
}

.about .right-box p{
    margin: 0;
    padding: 2em;
}

.about img{
    height: 300px;
    opacity: 0.9;
}

.honours{
    padding: 2em;
    display: flex;
    justify-content: space-around;
    background: #262626;
    color: #ffc600;
    text-align: center;
}

.honours .box{
    padding: 1em;
    flex-basis: 50%;
    flex-grow: 0;
}

.honours h3{
    font-size: 24px;
    margin: 0;
    padding: 20px 0;
}

.honours p{
    font-size: 20px;
}

.honours i{
    font-size: 60px;
    padding: 20px 0;
}

.details-btn{
    border: 0;
    outline: 0;
    border: 1px solid #ffc600;
    border-radius: 8px;
    padding: 7px 15px;
    background: transparent;
    color: #ffc600;
    display: block;
    margin: 20px auto 20px auto;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Advent Pro', sans-serif;
}

.details-btn:hover, .details-btn:focus{
    background: #ffc600;
    color: #262626;
}

.details-btn::after{
    content: "\f107";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding: 0 10px;
}

.details-btn.active::after{
    content: "\f106";
}

.details{
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
}

.details h4{
    font-size: 22px;
    color: #eeeeee;
}

.otherhonours{
    display: flex;
}

.otherhonours .left-box, .otherhonours .right-box{
    flex-basis: 50%;
    flex-grow: 0;
    position: relative;
}

.otherhonours .right-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherhonours .overlay{
    background: #262626;
    opacity: 0.7;
    transition: opacity 600ms ease-in-out;
}

.otherhonours img{
    width: 100%;
    height: 100%;
}

.otherhonours .right-box .hidden-text{
    position: absolute;
    width: 80%;
    color: #ffc600;
    font-size: 30px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 600ms ease-in-out;
}

.otherhonours .right-box:hover .hidden-text {
    opacity: 1;
}

.otherhonours .right-box:hover .overlay{
    opacity: 0.9;
}

.otherhonours .left-box{
    background: #eeeeee;
    color: #262626;
    padding: 2em;
}

.otherhonours .left-box h2{
    margin: 0;
    padding: 20px 32px;
    text-align: left;
    font-size: 26px;
    color: #ffc600;
}

ul{
    margin: 0;
    padding: 32px;
    text-align: left;
    font-size: 20px;
}

li{
    list-style: none;
    padding: 2px 0;
}

.home{
    min-height: 500px;
    background: url('../images/home.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .info {
    color: #262626;
    background: rgba(238, 238, 238, 0.6);
    padding: 32px;
    font-weight: 800;
}

.players{
    background: #eeeeee;
    color: #262626;
    min-height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
}

.players .box{
    padding: 20px;
    width: 290px;
    min-height: 300px;
    border-top: 3px solid #ffc600;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(38,38,38,0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(38,38,38,0.5);
    box-shadow: 0px 0px 10px 0px rgba(38,38,38,0.5);
}

.players img{
    width: 70%;
    border-radius: 50%;
    padding: 5px;
    border: 5px solid #ffc600;
    background: #eeeeee;
}

.players h4, .players h5{
    margin: 10px 0;
}

.players .more{
    background: #ffc600;
    text-align: center;
    padding: 7px 5px;
    cursor: pointer;
}

.more::after{
    content: "\f106";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    padding: 0 10px;
    text-align: right;
}

.footer{
    min-height: 100px;
    background-color: #262626;
    color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 1em;
}

.footer p{
    margin: 0;
    padding: 16px 32px;
}

.footer span{
    color: #ffc600;
}

.footer a{
    text-decoration: none;
}

@media only screen and (max-width: 992px) {
    .about{
        flex-direction: column;
    }
} 

@media only screen and (max-width: 770px) {
    .otherhonours{
        flex-direction: column;
    }
} 

@media only screen and (max-width: 636px) {
    .honours{
        flex-direction: column;
    }
    .about .left-box{
        display: none;
    }
} 

@media only screen and (max-width: 400px) {
    .intro{
        width: 200px;
    }

    .intro img{
        width: 150px;
    }
    .intro h1{
        font-size: 30px;
    }

    .about .right-box p, .honours .box, .otherhonours .left-box ul, .otherhonours .left-box h2{
        padding: 16px 0;
    }
}